DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=nest-course-api
PORT=8000

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALL_BACK=http://127.0.0.1:8000/auth/google/callback
JWT_ACCESS_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION=

EMAIL_SERVICE=gmail
EMAIL_USER=truongvancong230502@gmail.com
EMAIL_USER_SEND=no-reply@bot.com
EMAIL_PASS=

NODE_ENV=development
NEXT_APP_URL=http://127.0.0.1:3000